* {
 
    margin: 0;
    padding: 0;
}

@keyframes float {
	0% {
		transform: scale(1.03);
	}
	50% {
		transform: scale(1);
	}
	100% {
		transform: scale(1.03);
	}
}

$primary-dark: #f97432;
$primary-strong: #ff7000;
$primary: #ffac4a;
$primary-light: #ffac4a;
$white: #dadada;
$black: #1b232c;
$secondary:#0034b8;
$light-mode-bg: #ccc;
$light-mode-bg-white: #e5e5e5;
$dark-mode-bg:#212121;


.header {
    min-height: 100px;
    max-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    .logo {
        width: 90%;
        position: absolute;
        object-fit: contain;
        animation: float 4s ease-in-out infinite;
    }
    .background {
        width: 100%;
        object-fit: cover;
    }
}

body, button, input {
    background-color: hsl(0deg 0% 8%);
    font-family: 'Jura', sans-serif;
}

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 30px;
}

.card {
    display: flex;
    flex-direction: column;
    width: 250px;
    padding: 15px;
    border-radius: 20px;
    border: 1px solid #fcf9f95c;
    box-shadow: hsl(11deg 100% 62%) 2px 1px 8px -3px, hsl(242deg 88% 45%) -1px -1px 8px -1px;
    color: $white;
    background-color: $black;
    cursor: pointer;
    flex-grow: 1;

    .title {
        font-size: 30px;
        font-weight: 700;
        margin-bottom: 15px;
        min-height: 72px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .status {
        display: flex;
        font-size: 20px;
        font-weight: 400;
        margin: 5px 0 5px 0;
    }

    img {
        object-fit: cover;
    }

    &:hover {
        transition: transform .3s ease;
        transform: scale(1.01);
    }
}

h1 {
    font-size: 50px;
    font-weight: 900;
    color: $white;
    margin: 20px;
}

h3 {
    font-size: 16px;
    font-weight: 300;

}

.status-location {
    font-size: 22px;
    font-weight: 600;
    margin: 10px 0 10px 0;
    display: flex;
    flex-direction: column;
}

h4 {
    color: $primary;
}

.nav-list {
    height: 50px;
    color: $white;
    font-size: 22px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    padding-top: 30px;
    background: hsl(242deg 25% 20%);
    list-style: none;


    .nav-item {
        cursor: pointer;
        &:hover, &.active {
            transition: transform .3s ease;
            transform: scale(1.05);
            color: $primary;
        }
    }
}

.nav-item span {
    color: $white;
}

.small {
    width: 50px;
    height: 50px;
    margin: 5px;
    border-radius: 50%;
}

.not-found {
    display: flex;
    justify-content: center;
    padding: 0 20px;
    img {
        width: 100%;
        max-width: 600px;
    }
}

form {
    display: flex;
    justify-content: center;
}

input {
    width: 100%;
    height: 50px;
    background: $black;
    color: $white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    caret-color: $primary;
    border-right: none;
    border-top: none;
    border-bottom: 2px inset transparent;
    outline: none;
    &.page-number {
        width: 100px;
        border-radius: 6px;
    }
    &:focus, &:active {
        border-bottom: 2px inset $primary-dark;
    }
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 50px;
    margin-bottom: 30px;
    button {
        display: grid;
        place-content: center;
        width: 50px;
        height: 50px;
        background: $black;
        color: $white;
        border-radius: 6px;
        border: 1px solid transparent;
        cursor: pointer;
        &.disabled {
            background: transparent;
            color: $black;
            border: 1px solid $black;
            pointer-events: none;
        }
        &:hover {
            background: $primary;
        }
    }
}

.total-results {
    color: $white;
    padding: 20px 30px 0;
    font-size: 16px;
    span {
        color: $primary;
    }
}

.hidden {
    display: none;
}

.subtitle-card {
    margin: 10px 0;
}

/* LIGHT MODE */ 

.nav-filter-mode-changer {
    height: 50px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    background: #272640;
    padding: 0 40px 0 40px;
    list-style: none;
    align-content: center;
    align-items: center;

.button-mode {
    background: transparent;
    border: none;
    color: white;
    font-size: 20px;
        cursor: pointer;
        &:hover {
            transition: transform .3s ease;
            transform: scale(1.05);
            color:$primary;
        }
    }
}


 .light-mode .nav-filter-mode-changer .button-mode:hover {
        transition: transform 0.3s ease;
        transform: scale(1.05);
        color:$secondary;  
 }

.light-mode .nav-list .nav-item:hover, .light-mode .nav-list .nav-item.active {
        transition: transform 0.3s ease;
        transform: scale(1.05);
        color:$secondary;  
 }



 body.light-mode {
        background-color: #b6b3b3;
    }

.light-mode footer {
    background-color:#b6b3b3 ;
}

.light-mode .card-container {
    background-color: #b6b3b3;
}

.light-mode .card {
    color: hsl(0deg 0% 13%);
    background-color: $light-mode-bg-white;
}

.light-mode
 h3 {
    color:hsl(0deg 0% 13%);
    font-weight: 600;  
}

.light-mode h4 {
    color:hsl(223deg 100% 36%);
}

.light-mode .nav-list,
.light-mode .nav-filter-mode-changer,
.light-mode .nav-filter-mode-changer .button-mode {
    background-color: $light-mode-bg-white;
    color: hsl(0deg 0% 13%);
    font-weight: 600;
}

.light-mode input {
    caret-color: $secondary;
    background-color: $light-mode-bg;
    color: $dark-mode-bg;
    border-left: 0;
    &:focus {
        border-bottom: 2px inset $secondary;
    }
}

.light-mode .pagination {
    button {
        background: $light-mode-bg;
        color: $dark-mode-bg;
   
        &.disabled {
            background: transparent;
            color: $dark-mode-bg;
            border: 1px solid $dark-mode-bg;
        }
        &:hover {
            background: $secondary;
            color: $light-mode-bg;
        }
    }
}

.light-mode .total-results {
    color: $black;
    padding: 20px 30px 0;
    font-size: 16px;
    span {
        color: $secondary;
    }
}